@tailwind base;
@tailwind components;
@tailwind utilities;

.button-separator-line {
    flex: 0 0 1px;
    height: 24px;
    width: 1px;
    background-color: #DDD;
}

.category {
    flex: 0 0 content;
}

.carousel-category-container::-webkit-scrollbar { 
    width: 0;
    height: 0;
}

@media(max-width: 743px) {
    .header-button:nth-child(n+2)::before {
        content: "·";
        padding-right: 3px;
        display: inline;
    }
}